﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="AutoMail.aspx.cs" Inherits="AutoMail" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .style1
        {
            width: 600px;
            height: 450px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div align="center">
    
        <img align="middle" class="style1" src="Images/WorkInProgress.png" /></div>
    </form>
</body>
</html>
