﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MP.master" AutoEventWireup="true"
    CodeFile="CarImage.aspx.cs" Inherits="CarImage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphHeader" runat="Server">
    <%--ZebraDialog--%>
    <link href="Javascript/Jquery/ZebraDialog/css/zebra_dialog.css" rel="stylesheet"
        type="text/css" />
    <script src="Javascript/Jquery/ZebraDialog/zebra_dialog.js" type="text/javascript"></script>
    <script src="Javascript/Jquery/ZebraDialog/ZebraDialogHelper.js" type="text/javascript"></script>
    <%----------------%>
    <%----------------%>
    <%--<script src="Javascript/Common/jscommon.js" type="text/javascript"></script>--%>
    <%----------------%>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphBeforeForm" runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cph_Main" runat="Server">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td></td>
        </tr>
    </table>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="cphAfterForm" runat="Server">
</asp:Content>
<asp:Content ID="Content5" ContentPlaceHolderID="cphAfterBody" runat="Server">
</asp:Content>
<asp:Content ID="Content6" ContentPlaceHolderID="cphAfterHtml" runat="Server">
</asp:Content>
