﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MP.master" AutoEventWireup="true" CodeFile="ComplaintTopicAddDetail.aspx.cs" Inherits="ComplaintTopicAddDetail" %>

<%@ Register Src="~/UserControl/ModelPopup.ascx" TagPrefix="uc1" TagName="ModelPopup" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphHeader" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphBeforeForm" runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cph_Main" runat="Server">
    <div class="tab-content" style="padding-left: 20px; padding-right: 20px;">
        <div class="tab-pane fade active in" id="TabGeneral">
            <br />
            <br />
            <asp:UpdatePanel ID="UpdatePanel1" runat="server">
                <ContentTemplate>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class="fa fa-table"></i>
                            <asp:Label ID="lblHeaderTab1" runat="server" Text="เพิ่มหัวข้อ"></asp:Label>
                        </div>
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <div class="panel-body">
                                    <asp:Table ID="tblAddHeader" Width="100%" runat="server">
                                        <asp:TableRow>
                                            <asp:TableCell></asp:TableCell>
                                            <asp:TableCell></asp:TableCell>
                                            <asp:TableCell>
                                                <asp:RadioButtonList ID="radType" runat="server" AutoPostBack="true" RepeatDirection="Horizontal" OnSelectedIndexChanged="radType_SelectedIndexChanged">
                                                    <asp:ListItem Value="COMPLAIN" Text="Complain" Selected="True"></asp:ListItem>
                                                    <asp:ListItem Value="CHECKTRUCK" Text="Surprise Check"></asp:ListItem>
                                                </asp:RadioButtonList>
                                            </asp:TableCell>
                                        </asp:TableRow>
                                        <asp:TableRow><asp:TableCell>&nbsp;</asp:TableCell></asp:TableRow>
                                        <asp:TableRow>
                                            <asp:TableCell style="text-align:right">
                                                <asp:Label ID="lblTopicName" runat="server" Text="ประเภทร้องเรียน :"></asp:Label>
                                            </asp:TableCell>
                                            <asp:TableCell>&nbsp;</asp:TableCell>
                                            <asp:TableCell>
                                                <asp:DropDownList ID="ddlTopic" runat="server" CssClass="form-control" Width="300px"></asp:DropDownList>
                                            </asp:TableCell>
                                        </asp:TableRow>
                                        <asp:TableRow><asp:TableCell>&nbsp;</asp:TableCell></asp:TableRow>
                                        <asp:TableRow>
                                            <asp:TableCell style="text-align:right">
                                                <asp:Label ID="Label1" runat="server" Text="หัวข้อร้องเรียน :"></asp:Label>
                                            </asp:TableCell>
                                            <asp:TableCell></asp:TableCell>
                                            <asp:TableCell>
                                                <asp:TextBox ID="txtComplainName" runat="server" Width="300px" CssClass="form-control"></asp:TextBox>
                                            </asp:TableCell>
                                        </asp:TableRow>
                                        <asp:TableRow><asp:TableCell>&nbsp;</asp:TableCell></asp:TableRow>
                                        <asp:TableRow>
                                            <asp:TableCell style="text-align:right">
                                                <asp:Label ID="lblStatus" runat="server" Text="สถานะ :"></asp:Label>
                                            </asp:TableCell>
                                            <asp:TableCell>&nbsp;</asp:TableCell>
                                            <asp:TableCell>
                                                <asp:RadioButtonList ID="radStatus" runat="server" RepeatDirection="Horizontal">
                                                    <asp:ListItem Value="1" Text="Active" Selected="True"></asp:ListItem>
                                                    <asp:ListItem Value="0" Text="InActive"></asp:ListItem>
                                                </asp:RadioButtonList>
                                            </asp:TableCell>
                                        </asp:TableRow>
                                    </asp:Table>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer" style="text-align: right">
                            <asp:Button ID="cmdSave" runat="server" Text="บันทึก" CssClass="btn btn-md btn-hover btn-info" UseSubmitBehavior="false" Style="width: 100px" data-toggle="modal" data-target="#ModalConfirmBeforeSave" />
                            <asp:Button ID="cmdCancel" runat="server" Text="ยกเลิก" CssClass="btn btn-md btn-hover btn-info" UseSubmitBehavior="false" Style="width: 100px" OnClick="cmdCancel_Click" />
                        </div>
                    </div>
                </ContentTemplate>
            </asp:UpdatePanel>
        </div>
    </div>

    <uc1:ModelPopup runat="server" ID="mpConfirmSave" IDModel="ModalConfirmBeforeSave"
        IsButtonTypeSubmit="true" IsOnClick="true" IsShowClose="true" OnClickOK="cmdSave_Click"
        TextTitle="ยืนยันการบันทึก" TextDetail="คุณต้องการบันทึกใช่หรือไม่ ?" />
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="cphAfterForm" runat="Server">
</asp:Content>
<asp:Content ID="Content5" ContentPlaceHolderID="cphAfterBody" runat="Server">
</asp:Content>
<asp:Content ID="Content6" ContentPlaceHolderID="cphAfterHtml" runat="Server">
</asp:Content>