﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="DocumentCharges.ascx.cs"
    Inherits="DocumentCharges" %>
<script type="text/javascript">
    function DocopenFile() {
        var str = $('input[id$=txtFileDownload]').val();
        window.open("" + str + "");
    }
</script>

<a onclick="DocopenFile();" style="cursor: pointer;"><img src="images/ic_pdf2.gif" width="16"
height="16" alt="" />ดาวน์โหลดอัตราค่าธรรมเนียม </a>
 <asp:TextBox ID="txtFileDownload" runat="server" Style="display: none;"></asp:TextBox>
