﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="index.aspx.cs" Inherits="index" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=tis-620" />
<link rel="shortcut icon" href="#">
<title>ขออภัย  กำลังปรับปรุงระบบอยู่  กรุณาเยี่ยมชมใหม่ในครั้งหน้า</title>
<style type="text/css">
<!--
.style3 {
	color: #0000FF;
	font-size: 36px;
}
.style4 {color: #FF0000}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
.style3 {
	font-family: Tahoma, Geneva, sans-serif;
}
.style3 {
	font-size: 16px;
}
.style3 {
	font-size: 18px;
}
.style3 {
	font-size: 24px;
}
-->
</style>
</head>
<body>
<center>
<META HTTP-EQUIV="Refresh" >
<form id="index_redirect" name="redirect" method="post" >
<center>
<img src="maintenance.jpg" width="347" height="346" />
<br> 
  <p class="style3"><span class="style3"><span class="style3"><span class="style3"><span class="style3">ขออภัยครับ&nbsp;&nbsp;ทางเว็บไซด์ปิดปรับปรุงระบบชั่วคราว&nbsp;&nbsp;ขออภัยในความไม่สะดวก<p 
        class="style3" style="display: none"><span class="style3"><span class="style3"><span class="style3"><span class="style3">ติดต่อสอบถามหรือแจ้งปัญหาการใช้งาน&nbsp; <span class="style4">ttprint16@gmail.com</span> หรือ <span class="style4">086-2554967</span> ขอบคุณครับ </span></span></span></span></p>
 

</center>
</body>
</html>
