﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MP.master" AutoEventWireup="true" CodeFile="KMAddEdit.aspx.cs" Inherits="KMAddEdit" %>

<%@ Register Src="~/UserControl/ModelPopup.ascx" TagPrefix="uc1" TagName="ModelPopup" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphHeader" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphBeforeForm" runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cph_Main" runat="Server">
    <div style="font-family: 'Century Gothic'">
        <asp:UpdatePanel ID="UpdatePanel1" runat="server">
            <ContentTemplate>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <i class="fa fa-table"></i>
                        <asp:Label ID="lblHeaderTab1" Font-Names="Century Gothic" Font-Size="16px" runat="server" Text="Knowledge Management (KM) Organizational Learning Center"></asp:Label>
                    </div>
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <div class="panel-body">
                                <asp:Table ID="KM_Master" runat="server" Width="100%">
                                    <asp:TableRow>
                                        <asp:TableCell Width="30%" Style="text-align: right">
                                            <asp:Label ID="lblTopicName" runat="server" Text="Topic name * :&nbsp;" Font-Bold="true" Style="font-family: 'Century Gothic'" Font-Size="16px"></asp:Label>
                                        </asp:TableCell>
                                        <asp:TableCell Width="45%">
                                            <asp:TextBox ID="txtTopicName" runat="server" CssClass="form-control" Style="font-family: 'Century Gothic'" Font-Size="16px"></asp:TextBox>
                                        </asp:TableCell>
                                        <asp:TableCell Width="25%">

                                        </asp:TableCell>
                                    </asp:TableRow>

                                    <asp:TableRow>
                                        <asp:TableCell Width="30%" Style="text-align: right">
                                            <asp:Label ID="lblTopicID" runat="server" Text="Topic ID * :&nbsp;" Font-Bold="true" Style="font-family: 'Century Gothic'" Font-Size="16px"></asp:Label>
                                        </asp:TableCell>
                                        <asp:TableCell Width="45%">
                                            <asp:TextBox ID="txtTopicID" runat="server" CssClass="form-control" Enabled="false" Style="font-family: 'Century Gothic'" Font-Size="16px" Text="Generated by system"></asp:TextBox>
                                        </asp:TableCell>
                                    </asp:TableRow>

                                    <asp:TableRow>
                                        <asp:TableCell Width="30%" Style="text-align: right">
                                            <asp:Label ID="lblAuthorName" runat="server" Text="Author name * :&nbsp;" Font-Bold="true" Style="font-family: 'Century Gothic'" Font-Size="16px"></asp:Label>
                                        </asp:TableCell>
                                        <asp:TableCell Width="45%">
                                            <asp:TextBox ID="txtAuthorName" runat="server" CssClass="form-control" Enabled="false" Style="font-family: 'Century Gothic'" Text="by user login" Font-Size="16px"></asp:TextBox>
                                        </asp:TableCell>
                                    </asp:TableRow>

                                    <asp:TableRow>
                                        <asp:TableCell Width="30%" Style="text-align: right">
                                            <asp:Label ID="lblDepartment" runat="server" Text="Department * :&nbsp;" Font-Bold="true" Style="font-family: 'Century Gothic'" Font-Size="16px"></asp:Label>
                                        </asp:TableCell>
                                        <asp:TableCell Width="45%">
                                            <asp:DropDownList ID="ddlDepartment" runat="server" CssClass="form-control" Enabled="false" Style="font-family: 'Century Gothic'" Font-Size="16px" AutoPostBack="true" OnSelectedIndexChanged="ddlDepartment_SelectedIndexChanged">
                                            </asp:DropDownList>
                                        </asp:TableCell>
                                    </asp:TableRow>

                                    <asp:TableRow>
                                        <asp:TableCell Width="30%" Style="text-align: right">
                                            <asp:Label ID="lblDivisioin" runat="server" Text="Division * :&nbsp;" Font-Bold="true" Style="font-family: 'Century Gothic'" Font-Size="16px"></asp:Label>
                                        </asp:TableCell>
                                        <asp:TableCell Width="45%">
                                            <asp:DropDownList ID="ddlDivision" runat="server" CssClass="form-control" Enabled="false" Style="font-family: 'Century Gothic'" Font-Size="16px">
                                            </asp:DropDownList>
                                        </asp:TableCell>
                                    </asp:TableRow>

                                    <asp:TableRow>
                                        <asp:TableCell Width="30%" Style="text-align: right">
                                            <asp:Label ID="lblCoP" runat="server" Text="CoP :&nbsp;" Style="font-family: 'Century Gothic'" Font-Size="16px"></asp:Label>
                                        </asp:TableCell>
                                        <asp:TableCell Width="45%">
                                            <asp:TextBox ID="txtCoP" runat="server" CssClass="form-control" Style="font-family: 'Century Gothic'" Font-Size="16px"></asp:TextBox>
                                        </asp:TableCell>
                                    </asp:TableRow>

                                    <asp:TableRow>
                                        <asp:TableCell Width="30%" Style="text-align: right">
                                            <asp:Label ID="lblKnowledgeType" runat="server" Text="Knowledge type * :&nbsp;" Font-Bold="true" Style="font-family: 'Century Gothic'" Font-Size="16px"></asp:Label>
                                        </asp:TableCell>
                                        <asp:TableCell Width="45%">
                                            <asp:DropDownList ID="ddlKnowledgeType" runat="server" CssClass="form-control" Style="font-family: 'Century Gothic'" Font-Size="16px">
                                            </asp:DropDownList>
                                        </asp:TableCell>
                                    </asp:TableRow>

                                    <asp:TableRow>
                                        <asp:TableCell>&nbsp;</asp:TableCell>
                                    </asp:TableRow>

                                    <asp:TableRow>
                                        <asp:TableCell Width="30%" Style="text-align: right">
                                            <asp:Label ID="lblProductTagHead" runat="server" Text="Keywords (Tags) * :&nbsp;" Font-Bold="true" Style="font-family: 'Century Gothic'" Font-Size="16px"></asp:Label>
                                        </asp:TableCell>
                                        <asp:TableCell Width="45%">
                                            <asp:Table runat="server">
                                                <asp:TableRow>
                                                    <asp:TableCell>
                                                        <asp:DropDownList ID="ddlProductTagHead" runat="server" CssClass="form-control" Style="font-family: 'Century Gothic'" Font-Size="16px" AutoPostBack="true" OnSelectedIndexChanged="ddlProductTagHead_SelectedIndexChanged">
                                                        </asp:DropDownList>
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                                        <asp:DropDownList ID="ddlProductTagItem" runat="server" CssClass="form-control" Style="font-family: 'Century Gothic'" Font-Size="16px" Enabled="false">
                                                        </asp:DropDownList>
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                                        &nbsp;<asp:Button ID="cmdAddTag" runat="server" Text="add" CssClass="btn btn-success" Width="90px" Style="font-family: 'Century Gothic'" Font-Size="16px" OnClick="cmdAddTag_Click" />
                                                    </asp:TableCell>
                                                </asp:TableRow>
                                            </asp:Table>
                                        </asp:TableCell>
                                    </asp:TableRow>

                                    <asp:TableRow>
                                        <asp:TableCell>&nbsp;</asp:TableCell>
                                    </asp:TableRow>

                                    <asp:TableRow>
                                        <asp:TableCell Width="30%" Style="text-align: right">
                                            
                                        </asp:TableCell>
                                        <asp:TableCell Width="45%">
                                            <asp:GridView ID="dgvItem" runat="server" CssClass="table table-hover" Width="100%" AutoGenerateColumns="False" OnRowDeleting="dgvItem_RowDeleting" Font-Size="16px"
                                                GridLines="None" HeaderStyle-CssClass="gvHeader" AlternatingRowStyle-CssClass="gvAltRow" BorderWidth="0" ShowHeaderWhenEmpty="True">
                                                <AlternatingRowStyle CssClass="gvAltRow"></AlternatingRowStyle>
                                                <Columns>
                                                    <asp:TemplateField HeaderText="">
                                                        <HeaderStyle HorizontalAlign="Center" Font-Size="16px" />
                                                        <ItemStyle BorderWidth="0" HorizontalAlign="Center" VerticalAlign="Middle" Font-Size="16px" />
                                                        <ItemTemplate>
                                                            <asp:ImageButton ID="imgDelete" runat="server" ImageUrl="~/Images/bin1.png"
                                                                Width="24px" Height="24px" Style="cursor: pointer" CommandName="Delete" />
                                                        </ItemTemplate>
                                                    </asp:TemplateField>
                                                    <asp:BoundField DataField="KM_TAG_LVL1_ID" Visible="false">
                                                        <HeaderStyle HorizontalAlign="Center" Font-Names="Century Gothic" Font-Size="16px" />
                                                        <ItemStyle BorderWidth="0" Wrap="False" HorizontalAlign="Center" Font-Names="Century Gothic" Font-Size="16px" />
                                                    </asp:BoundField>
                                                    <asp:BoundField DataField="KM_TAG_LVL1_NAME" HeaderText="ProductTagHead">
                                                        <HeaderStyle HorizontalAlign="Center" Font-Names="Century Gothic" Font-Size="16px" />
                                                        <ItemStyle BorderWidth="0" Wrap="False" HorizontalAlign="Center" Font-Names="Century Gothic" Font-Size="16px" />
                                                    </asp:BoundField>
                                                    <asp:BoundField DataField="KM_TAG_LVL2_ID" Visible="false">
                                                        <HeaderStyle HorizontalAlign="Center" Font-Names="Century Gothic" Font-Size="16px" />
                                                        <ItemStyle BorderWidth="0" Wrap="False" HorizontalAlign="Center" Font-Names="Century Gothic" Font-Size="16px" />
                                                    </asp:BoundField>
                                                    <asp:BoundField DataField="KM_TAG_LVL2_NAME" HeaderText="ProductTagItem">
                                                        <HeaderStyle HorizontalAlign="Center" Font-Names="Century Gothic" Font-Size="16px" />
                                                        <ItemStyle BorderWidth="0" Wrap="False" HorizontalAlign="Center" Font-Names="Century Gothic" Font-Size="16px" />
                                                    </asp:BoundField>
                                                </Columns>
                                                <HeaderStyle CssClass="gvHeader-white"></HeaderStyle>
                                            </asp:GridView>
                                        </asp:TableCell>
                                    </asp:TableRow>

                                    <asp:TableRow>
                                        <asp:TableCell>&nbsp;</asp:TableCell>
                                    </asp:TableRow>

                                    <asp:TableRow>
                                        <asp:TableCell Width="30%" Style="text-align: right">
                                            <asp:Label ID="lblKeyword" runat="server" Text="Other keywords :&nbsp;" Style="font-family: 'Century Gothic'" Font-Size="16px"></asp:Label>
                                        </asp:TableCell>
                                        <asp:TableCell Width="45%">
                                            <asp:TextBox ID="txtKeyword" runat="server" CssClass="form-control" Style="font-family: 'Century Gothic'" Font-Size="16px"></asp:TextBox>
                                        </asp:TableCell>
                                    </asp:TableRow>

                                    <asp:TableRow>
                                        <asp:TableCell Width="30%" Style="text-align: right; vertical-align: top; padding-top: 6px">
                                            <asp:Label ID="lblExecutive" runat="server" Text="Executive summary/abstract * :&nbsp;" Font-Bold="true" Style="font-family: 'Century Gothic'" Font-Size="16px"></asp:Label>
                                        </asp:TableCell>
                                        <asp:TableCell Width="45%">
                                            <asp:TextBox ID="txtExecutive" runat="server" CssClass="form-control" TextMode="MultiLine" Height="100px" Style="font-family: 'Century Gothic'" Font-Size="16px"></asp:TextBox>
                                        </asp:TableCell>
                                    </asp:TableRow>

                                    <asp:TableRow>
                                        <asp:TableCell>&nbsp;</asp:TableCell>
                                    </asp:TableRow>

                                    <asp:TableRow>
                                        <asp:TableCell Width="30%" Style="text-align: right">
                                            <asp:Label ID="lblDocumentContent" runat="server" Text="Document content * :&nbsp;" Font-Bold="true" Style="font-family: 'Century Gothic'" Font-Size="16px"></asp:Label>
                                        </asp:TableCell>
                                        <asp:TableCell Width="45%">
                                            <asp:Table runat="server">
                                                <asp:TableRow>
                                                    <asp:TableCell>
                                                        <asp:FileUpload ID="fileUpload" runat="server" Width="100%" />
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                                        <asp:Button ID="cmdUpload" runat="server" Text="upload" CssClass="btn btn-success" UseSubmitBehavior="false" Style="font-family: 'Century Gothic'" Font-Size="16px" OnClick="cmdUpload_Click" />
                                                    </asp:TableCell>
                                                </asp:TableRow>
                                            </asp:Table>

                                        </asp:TableCell>
                                    </asp:TableRow>

                                    <asp:TableRow>
                                        <asp:TableCell>&nbsp;</asp:TableCell>
                                    </asp:TableRow>

                                    <asp:TableRow>
                                        <asp:TableCell Width="30%" Style="text-align: right">
                                            
                                        </asp:TableCell>
                                        <asp:TableCell Width="45%">
                                            <asp:GridView ID="dgvUploadFile" runat="server" CssClass="table table-hover " Font-Size="16px" Width="100%" HeaderStyle-HorizontalAlign="Center"
                                                CellPadding="4" GridLines="None" HeaderStyle-CssClass="GridColorHeader" HeaderStyle-ForeColor="White" BorderWidth="0"
                                                ShowHeaderWhenEmpty="true" EmptyDataRowStyle-HorizontalAlign="Center" EmptyDataRowStyle-ForeColor="White" DataKeyNames="UPLOAD_ID,FULLPATH" OnRowDeleting="dgvUploadFile_RowDeleting"
                                                HorizontalAlign="Center" AutoGenerateColumns="false" EmptyDataText="[ ไม่มีข้อมูล ]" OnRowUpdating="dgvUploadFile_RowUpdating" OnRowDataBound="dgvUploadFile_RowDataBound"
                                                AlternatingRowStyle-BackColor="White" RowStyle-ForeColor="#284775">
                                                <Columns>
                                                    <asp:TemplateField HeaderText="No.">
                                                        <HeaderStyle HorizontalAlign="Center" Font-Size="16px" />
                                                        <ItemStyle BorderWidth="0" HorizontalAlign="Center" VerticalAlign="Middle" Font-Size="16px" />
                                                        <ItemTemplate>
                                                            <%# Container.DataItemIndex + 1 %>
                                                        </ItemTemplate>
                                                    </asp:TemplateField>
                                                    <asp:BoundField DataField="UPLOAD_ID" Visible="false" HeaderStyle-Font-Names="Century Gothic" ItemStyle-Font-Names="Century Gothic" ItemStyle-HorizontalAlign="Center" ItemStyle-BorderWidth="0" HeaderStyle-Font-Size="16px" ItemStyle-Font-Size="16px" />
                                                    <asp:BoundField DataField="UPLOAD_NAME" HeaderText="ประเภทไฟล์เอกสาร" HeaderStyle-Font-Names="Century Gothic" ItemStyle-Font-Names="Century Gothic" ItemStyle-HorizontalAlign="Center" ItemStyle-BorderWidth="0" HeaderStyle-Font-Size="16px" ItemStyle-Font-Size="16px" />
                                                    <asp:BoundField DataField="FILENAME_SYSTEM" HeaderText="ชื่อไฟล์ (ในระบบ)" HeaderStyle-Font-Names="Century Gothic" ItemStyle-Font-Names="Century Gothic" ItemStyle-HorizontalAlign="Center" ItemStyle-BorderWidth="0" HeaderStyle-Font-Size="16px" ItemStyle-Font-Size="16px" />
                                                    <asp:BoundField DataField="FILENAME_USER" HeaderText="ชื่อไฟล์ (ตามผู้ใช้งาน)" HeaderStyle-Font-Names="Century Gothic" ItemStyle-Font-Names="Century Gothic" ItemStyle-HorizontalAlign="Center" ItemStyle-BorderWidth="0" HeaderStyle-Font-Size="16px" ItemStyle-Font-Size="16px" />
                                                    <asp:BoundField DataField="FULLPATH" Visible="false" ItemStyle-HorizontalAlign="Center" HeaderStyle-Font-Names="Century Gothic" ItemStyle-Font-Names="Century Gothic" ItemStyle-BorderWidth="0" HeaderStyle-Font-Size="16px" ItemStyle-Font-Size="16px" />
                                                    <asp:TemplateField HeaderText="Action">
                                                        <HeaderStyle HorizontalAlign="Center" Font-Size="16px" />
                                                        <ItemStyle BorderWidth="0" HorizontalAlign="Center" VerticalAlign="Middle" Font-Size="16px" />
                                                        <ItemTemplate>
                                                            <%--<asp:ImageButton ID="imgView" runat="server" ImageUrl="~/Images/view1.png" Width="25px"
                                                                Height="25px" Style="cursor: pointer" CommandName="Update" />&nbsp;--%>
                                                            <asp:ImageButton ID="imgDelete" runat="server" ImageUrl="~/Images/bin1.png" Width="25px"
                                                                Height="25px" Style="cursor: pointer" CommandName="Delete" />
                                                        </ItemTemplate>
                                                    </asp:TemplateField>
                                                </Columns>

                                                <EmptyDataRowStyle HorizontalAlign="Center" ForeColor="White"></EmptyDataRowStyle>
                                                <HeaderStyle CssClass="gvHeader-white"></HeaderStyle>
                                            </asp:GridView>
                                        </asp:TableCell>
                                    </asp:TableRow>

                                    <asp:TableRow>
                                        <asp:TableCell>&nbsp;</asp:TableCell>
                                    </asp:TableRow>

                                    <asp:TableRow>
                                        <asp:TableCell Width="30%" Style="text-align: right">
                                            <asp:Label ID="lblCreatedDate" runat="server" Text="Created date * :&nbsp;" Font-Bold="true" Style="font-family: 'Century Gothic'" Font-Size="16px"></asp:Label>
                                        </asp:TableCell>
                                        <asp:TableCell Width="45%">
                                            <asp:TextBox ID="txtCreatedDate" runat="server" CssClass="form-control" Enabled="false" Text="Generated by system" Style="font-family: 'Century Gothic'" Font-Size="16px"></asp:TextBox>
                                        </asp:TableCell>
                                    </asp:TableRow>

                                    <asp:TableRow>
                                        <asp:TableCell Width="30%" Style="text-align: right">
                                            <asp:Label ID="lblUpdatedDate" runat="server" Text="Last modified * :&nbsp;" Font-Bold="true" Style="font-family: 'Century Gothic'" Font-Size="16px"></asp:Label>
                                        </asp:TableCell>
                                        <asp:TableCell Width="45%">
                                            <asp:TextBox ID="txtUpdatedDate" runat="server" CssClass="form-control" Enabled="false" Style="font-family: 'Century Gothic'" Text="Generated by system" Font-Size="16px"></asp:TextBox>
                                        </asp:TableCell>
                                    </asp:TableRow>
                                </asp:Table>

                                <br />
                                <br />
                            </div>
                        </div>
                    </div>

                    <asp:Table runat="server" Style="border-top: solid;" Width="100%">
                        <asp:TableRow Style="font-family: 'Century Gothic'">
                            <asp:TableCell Width="60%" Style="border-right: solid; padding-left: 10px; padding-top: 10px;">
                                <asp:Label ID="lblShareTo" runat="server" Text="Share to" ForeColor="Red" Font-Bold="true"></asp:Label>

                                <asp:Table runat="server" Width="100%">
                                    <asp:TableRow>
                                        <asp:TableCell Width="70%" Style="padding-left: 10px;">
                                            <asp:Table runat="server" Width="100%">
                                                <asp:TableRow>
                                                    <asp:TableCell>
                                        PTT/BSA
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                        Employee code
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                                        <asp:DropDownList ID="ddlEmployeeCode" runat="server" CssClass="form-control select2"></asp:DropDownList>
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                                        <asp:Button ID="cmdAddEmployeeCode" runat="server" CssClass="btn btn-success" Text="ADD" Width="80px" OnClick="cmdAddEmployeeCode_Click" />
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                                        <asp:DropDownList ID="ddlEmployeeCodeDisplay" runat="server" CssClass="form-control select2"></asp:DropDownList>
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                                        <asp:Button ID="cmdRemoveEmployeeCode" runat="server" CssClass="btn btn-danger" Text="REMOVE" Width="80px" OnClick="cmdRemoveEmployeeCode_Click" />
                                                    </asp:TableCell>
                                                </asp:TableRow>

                                                <asp:TableRow>
                                                    <asp:TableCell>
                                        
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                        User group (TMS)
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                                        <asp:DropDownList ID="ddlUsergroup" runat="server" CssClass="form-control select2"></asp:DropDownList>
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                                        <asp:Button ID="cmdAddUsergroup" runat="server" CssClass="btn btn-success" Text="ADD" Width="80px" OnClick="cmdAddUsergroup_Click" />
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                                        <asp:DropDownList ID="ddlUsergroupDisplay" runat="server" CssClass="form-control select2"></asp:DropDownList>
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                                        <asp:Button ID="cmdRemoveUsergroup" runat="server" CssClass="btn btn-danger" Text="REMOVE" Width="80px" OnClick="cmdRemoveUsergroup_Click" />
                                                    </asp:TableCell>
                                                </asp:TableRow>

                                                <asp:TableRow>
                                                    <asp:TableCell>
                                        
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                        Division
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                                        <asp:DropDownList ID="ddlDivis" runat="server" CssClass="form-control select2"></asp:DropDownList>
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                                        <asp:Button ID="cmdAddDivision" runat="server" CssClass="btn btn-success" Text="ADD" Width="80px" OnClick="cmdAddDivision_Click" />
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                                        <asp:DropDownList ID="ddlDivisDisplay" runat="server" CssClass="form-control select2"></asp:DropDownList>
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                                        <asp:Button ID="cmdRemoveDivision" runat="server" CssClass="btn btn-danger" Text="REMOVE" Width="80px" OnClick="cmdRemoveDivision_Click" />
                                                    </asp:TableCell>
                                                </asp:TableRow>

                                                <asp:TableRow>
                                                    <asp:TableCell>
                                        
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                        Department
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                                        <asp:DropDownList ID="ddlDepart" runat="server" CssClass="form-control select2"></asp:DropDownList>
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                                        <asp:Button ID="cmdAddDepartment" runat="server" CssClass="btn btn-success" Text="ADD" Width="80px" OnClick="cmdAddDepartment_Click" />
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                                        <asp:DropDownList ID="ddlDepartDisplay" runat="server" CssClass="form-control select2"></asp:DropDownList>
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                                        <asp:Button ID="cmdRemoveDepartment" runat="server" CssClass="btn btn-danger" Text="REMOVE" Width="80px" OnClick="cmdRemoveDepartment_Click" />
                                                    </asp:TableCell>
                                                </asp:TableRow>

                                                <asp:TableRow>
                                                    <asp:TableCell>
                                        &nbsp;
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                        
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                        
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                        
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                        
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                        
                                                    </asp:TableCell>
                                                </asp:TableRow>

                                                <asp:TableRow>
                                                    <asp:TableCell>
                                        Contractor
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                        Name
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                                        <asp:DropDownList ID="ddlContractUserName" runat="server" CssClass="form-control select2"></asp:DropDownList>
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                                        <asp:Button ID="cmdAddContractUserName" runat="server" CssClass="btn btn-success" Text="ADD" Width="80px" OnClick="cmdAddContractUserName_Click" />
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                                        <asp:DropDownList ID="ddlContractUserNameDisplay" runat="server" CssClass="form-control select2"></asp:DropDownList>
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                                        <asp:Button ID="cmdRemoveContractUserName" runat="server" CssClass="btn btn-danger" Text="REMOVE" Width="80px" OnClick="cmdRemoveContractUserName_Click" />
                                                    </asp:TableCell>
                                                </asp:TableRow>

                                                <asp:TableRow>
                                                    <asp:TableCell>
                                        
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                        User group (TMS)
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                                        <asp:DropDownList ID="ddlContractGroup" runat="server" CssClass="form-control select2"></asp:DropDownList>
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                                        <asp:Button ID="cmdAddContractGroup" runat="server" CssClass="btn btn-success" Text="ADD" Width="80px" OnClick="cmdAddContractGroup_Click" />
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                                        <asp:DropDownList ID="ddlContractGroupDisplay" runat="server" CssClass="form-control select2"></asp:DropDownList>
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                                        <asp:Button ID="cmdRemoveContractGroup" runat="server" CssClass="btn btn-danger" Text="REMOVE" Width="80px" OnClick="cmdRemoveContractGroup_Click" />
                                                    </asp:TableCell>
                                                </asp:TableRow>

                                                <asp:TableRow>
                                                    <asp:TableCell>
                                        
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                        Transportation group
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                                        <asp:DropDownList ID="ddlTransportGroup" runat="server" CssClass="form-control select2"></asp:DropDownList>
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                                        <asp:Button ID="cmdAddTransportGroup" runat="server" CssClass="btn btn-success" Text="ADD" Width="80px" OnClick="cmdAddTransportGroup_Click" />
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                                        <asp:DropDownList ID="ddlTransportGroupDisplay" runat="server" CssClass="form-control select2"></asp:DropDownList>
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                                        <asp:Button ID="cmdRemoveTransportGroup" runat="server" CssClass="btn btn-danger" Text="REMOVE" Width="80px" OnClick="cmdRemoveTransportGroup_Click" />
                                                    </asp:TableCell>
                                                </asp:TableRow>

                                                <asp:TableRow>
                                                    <asp:TableCell>
                                        
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                        Contractor name
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                                        <asp:DropDownList ID="ddlContractName" runat="server" CssClass="form-control select2"></asp:DropDownList>
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                                        <asp:Button ID="cmdAddContractName" runat="server" CssClass="btn btn-success" Text="ADD" Width="80px" OnClick="cmdAddContractName_Click" />
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                                        <asp:DropDownList ID="ddlContractNameDisplay" runat="server" CssClass="form-control select2"></asp:DropDownList>
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                                        <asp:Button ID="cmdRemoveContractName" runat="server" CssClass="btn btn-danger" Text="REMOVE" Width="80px" OnClick="cmdRemoveContractName_Click" />
                                                    </asp:TableCell>
                                                </asp:TableRow>

                                                <asp:TableRow>
                                                    <asp:TableCell>
                                        
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                        Contract number
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                                        <asp:DropDownList ID="ddlContractNumber" runat="server" CssClass="form-control select2"></asp:DropDownList>
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                                        <asp:Button ID="cmdAddContractNumber" runat="server" CssClass="btn btn-success" Text="ADD" Width="80px" OnClick="cmdAddContractNumber_Click" />
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                                        <asp:DropDownList ID="ddlContractNumberDisplay" runat="server" CssClass="form-control select2"></asp:DropDownList>
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                                        <asp:Button ID="cmdRemoveContractNumber" runat="server" CssClass="btn btn-danger" Text="REMOVE" Width="80px" OnClick="cmdRemoveContractNumber_Click" />
                                                    </asp:TableCell>
                                                </asp:TableRow>

                                                <asp:TableRow>
                                                    <asp:TableCell>
                                        
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                                        <asp:CheckBox ID="chkAll" runat="server" Text="&nbsp;All contractors" AutoPostBack="true" OnCheckedChanged="chkAll_CheckedChanged" />
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                        
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                        
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                        
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                        
                                                    </asp:TableCell>
                                                </asp:TableRow>

                                                <asp:TableRow>
                                                    <asp:TableCell>
                                                    &nbsp;
                                                    </asp:TableCell>
                                                </asp:TableRow>

                                                <asp:TableRow>
                                                    <asp:TableCell>
                                                     
                                                    </asp:TableCell>
                                                </asp:TableRow>
                                                <asp:TableRow>
                                                    <asp:TableCell>
                                                    &nbsp;
                                                    </asp:TableCell>
                                                </asp:TableRow>
                                                <asp:TableRow>
                                                    <asp:TableCell>
                                                    &nbsp;
                                                    </asp:TableCell>
                                                </asp:TableRow>
                                            </asp:Table>
                                        </asp:TableCell>
                                    </asp:TableRow>
                                </asp:Table>

                            </asp:TableCell>
                            <asp:TableCell Width="40%" Style="border-right: solid; padding-left: 10px;">
                                <asp:Label ID="lblMailTo" runat="server" Text="Mail to" ForeColor="Red" Font-Bold="true"></asp:Label>

                                <asp:Table runat="server" Width="100%">
                                    <asp:TableRow>
                                        <asp:TableCell>
                                            <asp:CheckBox ID="chkEmployee" runat="server" Text="&nbsp;same as share to" AutoPostBack="true" OnCheckedChanged="chkEmployee_CheckedChanged" />
                                        </asp:TableCell>
                                        <asp:TableCell>
                                            <asp:TextBox ID="txtEmployee" runat="server" placeholder="email address" Enabled="false" CssClass="form-control"></asp:TextBox>
                                        </asp:TableCell>
                                        <asp:TableCell>
                                            
                                        </asp:TableCell>
                                        <asp:TableCell>
                                            <asp:Button ID="cmdSendEmployee" runat="server" Text="SEND EMAIL" CssClass="btn btn-warning" Width="100px" OnClick="cmdSendEmployee_Click" />
                                        </asp:TableCell>
                                    </asp:TableRow>

                                    <asp:TableRow>
                                        <asp:TableCell>
                                            <asp:CheckBox ID="chkUsergroup" runat="server" Text="&nbsp;same as share to" AutoPostBack="true" OnCheckedChanged="chkUsergroup_CheckedChanged" />
                                        </asp:TableCell>
                                        <asp:TableCell>
                                            <asp:TextBox ID="txtUsergroup" runat="server" placeholder="email address" Enabled="false" CssClass="form-control"></asp:TextBox>
                                        </asp:TableCell>
                                        <asp:TableCell>
                                            
                                        </asp:TableCell>
                                        <asp:TableCell>
                                            <asp:Button ID="cmdSendUserGroup" runat="server" Text="SEND EMAIL" CssClass="btn btn-warning" Width="100px" OnClick="cmdSendUserGroup_Click" />
                                        </asp:TableCell>
                                    </asp:TableRow>

                                    <asp:TableRow>
                                        <asp:TableCell>
                                            <asp:CheckBox ID="chkDivis" runat="server" Text="&nbsp;same as share to" AutoPostBack="true" OnCheckedChanged="chkDivis_CheckedChanged" />
                                        </asp:TableCell>
                                        <asp:TableCell>
                                            <asp:TextBox ID="txtDivis" runat="server" placeholder="email address" Enabled="false" CssClass="form-control"></asp:TextBox>
                                        </asp:TableCell>
                                        <asp:TableCell>
                                            
                                        </asp:TableCell>
                                        <asp:TableCell>
                                            <asp:Button ID="cmdSendDivis" runat="server" Text="SEND EMAIL" CssClass="btn btn-warning" Width="100px" OnClick="cmdSendDivis_Click" />
                                        </asp:TableCell>
                                    </asp:TableRow>

                                    <asp:TableRow>
                                        <asp:TableCell>
                                            <asp:CheckBox ID="chkDepart" runat="server" Text="&nbsp;same as share to" AutoPostBack="true" OnCheckedChanged="chkDepart_CheckedChanged" />
                                        </asp:TableCell>
                                        <asp:TableCell>
                                            <asp:TextBox ID="txtDepart" runat="server" placeholder="email address" Enabled="false" CssClass="form-control"></asp:TextBox>
                                        </asp:TableCell>
                                        <asp:TableCell>
                                            
                                        </asp:TableCell>
                                        <asp:TableCell>
                                            <asp:Button ID="cmdSendDepart" runat="server" Text="SEND EMAIL" CssClass="btn btn-warning" Width="100px" OnClick="cmdSendDepart_Click" />
                                        </asp:TableCell>
                                    </asp:TableRow>

                                    <asp:TableRow>
                                        <asp:TableCell>
                                            &nbsp;
                                        </asp:TableCell>
                                        <asp:TableCell>
                                            
                                        </asp:TableCell>
                                        <asp:TableCell>
                                            
                                        </asp:TableCell>
                                        <asp:TableCell>
                                            
                                        </asp:TableCell>
                                    </asp:TableRow>

                                    <asp:TableRow>
                                        <asp:TableCell>
                                            <asp:CheckBox ID="chkContUsername" runat="server" Text="&nbsp;same as share to" AutoPostBack="true" OnCheckedChanged="chkContUsername_CheckedChanged" />
                                        </asp:TableCell>
                                        <asp:TableCell>
                                            <asp:TextBox ID="txtContUsername" runat="server" placeholder="email address" Enabled="false" CssClass="form-control"></asp:TextBox>
                                        </asp:TableCell>
                                        <asp:TableCell>
                                            
                                        </asp:TableCell>
                                        <asp:TableCell>
                                            <asp:Button ID="cmdSendContUsername" runat="server" Text="SEND EMAIL" CssClass="btn btn-warning" Width="100px" OnClick="cmdSendContUsername_Click" />
                                        </asp:TableCell>
                                    </asp:TableRow>

                                    <asp:TableRow>
                                        <asp:TableCell>
                                            <asp:CheckBox ID="chkContGroup" runat="server" Text="&nbsp;same as share to" AutoPostBack="true" OnCheckedChanged="chkContGroup_CheckedChanged" />
                                        </asp:TableCell>
                                        <asp:TableCell>
                                            <asp:TextBox ID="txtContGroup" runat="server" placeholder="email address" Enabled="false" CssClass="form-control"></asp:TextBox>
                                        </asp:TableCell>
                                        <asp:TableCell>
                                            
                                        </asp:TableCell>
                                        <asp:TableCell>
                                            <asp:Button ID="cmdSendContGroup" runat="server" Text="SEND EMAIL" CssClass="btn btn-warning" Width="100px" OnClick="cmdSendContGroup_Click" />
                                        </asp:TableCell>
                                    </asp:TableRow>

                                    <asp:TableRow>
                                        <asp:TableCell>
                                            <asp:CheckBox ID="chkContTransgroup" runat="server" Text="&nbsp;same as share to" AutoPostBack="true" OnCheckedChanged="chkContTransgroup_CheckedChanged" />
                                        </asp:TableCell>
                                        <asp:TableCell>
                                            <asp:TextBox ID="txtContTransgroup" runat="server" placeholder="email address" Enabled="false" CssClass="form-control"></asp:TextBox>
                                        </asp:TableCell>
                                        <asp:TableCell>
                                            
                                        </asp:TableCell>
                                        <asp:TableCell>
                                            <asp:Button ID="cmdSendContTransgroup" runat="server" Text="SEND EMAIL" CssClass="btn btn-warning" Width="100px" OnClick="cmdSendContTransgroup_Click" />
                                        </asp:TableCell>
                                    </asp:TableRow>

                                    <asp:TableRow>
                                        <asp:TableCell>
                                            <asp:CheckBox ID="chkContName" runat="server" Text="&nbsp;same as share to" AutoPostBack="true" OnCheckedChanged="chkContName_CheckedChanged" />
                                        </asp:TableCell>
                                        <asp:TableCell>
                                            <asp:TextBox ID="txtContName" runat="server" placeholder="email address" Enabled="false" CssClass="form-control"></asp:TextBox>
                                        </asp:TableCell>
                                        <asp:TableCell>
                                            
                                        </asp:TableCell>
                                        <asp:TableCell>
                                            <asp:Button ID="cmdSendContName" runat="server" Text="SEND EMAIL" CssClass="btn btn-warning" Width="100px" OnClick="cmdSendContName_Click" />
                                        </asp:TableCell>
                                    </asp:TableRow>

                                    <asp:TableRow>
                                        <asp:TableCell>
                                            <asp:CheckBox ID="chkContNumber" runat="server" Text="&nbsp;same as share to" AutoPostBack="true" OnCheckedChanged="chkContNumber_CheckedChanged" />
                                        </asp:TableCell>
                                        <asp:TableCell>
                                            <asp:TextBox ID="txtContNumber" runat="server" placeholder="email address" Enabled="false" CssClass="form-control"></asp:TextBox>
                                        </asp:TableCell>
                                        <asp:TableCell>
                                            
                                        </asp:TableCell>
                                        <asp:TableCell>
                                            <asp:Button ID="cmdSendContNumber" runat="server" Text="SEND EMAIL" CssClass="btn btn-warning" Width="100px" OnClick="cmdSendContNumber_Click" />
                                        </asp:TableCell>
                                    </asp:TableRow>

                                    <asp:TableRow>
                                        <asp:TableCell>
                                            <asp:CheckBox ID="chkSendAll" runat="server" Text="&nbsp;same as share to" AutoPostBack="true" OnCheckedChanged="chkSendAll_CheckedChanged" />
                                        </asp:TableCell>
                                        <asp:TableCell>
                                            <asp:TextBox ID="txtMailAll" runat="server" placeholder="email address" Enabled="false" CssClass="form-control"></asp:TextBox>
                                        </asp:TableCell>
                                        <asp:TableCell>
                                            
                                        </asp:TableCell>
                                        <asp:TableCell>
                                            <asp:Button ID="cmdSendAll" runat="server" Text="SEND EMAIL" CssClass="btn btn-warning" Width="100px" OnClick="cmdSendAll_Click" />
                                        </asp:TableCell>
                                    </asp:TableRow>

                                    <asp:TableRow>
                                        <asp:TableCell>
                                            Other e-mail
                                        </asp:TableCell>
                                        <asp:TableCell>
                                            <asp:TextBox ID="txtOteherEmail" runat="server" placeholder="email address" CssClass="form-control"></asp:TextBox>
                                        </asp:TableCell>
                                        <asp:TableCell>
                                           
                                        </asp:TableCell>
                                        <asp:TableCell>
                                            <asp:Button ID="cmdSendOther" runat="server" Text="SEND EMAIL" CssClass="btn btn-warning" Width="100px" OnClick="cmdSendOther_Click" />
                                        </asp:TableCell>
                                    </asp:TableRow>

                                    <asp:TableRow>
                                        <asp:TableCell>
                                            
                                        </asp:TableCell>
                                        <asp:TableCell>
                                            
                                        </asp:TableCell>
                                        <asp:TableCell>
                                            
                                        </asp:TableCell>
                                    </asp:TableRow>
                                </asp:Table>
                            </asp:TableCell>
                        </asp:TableRow>
                    </asp:Table>
                    <br />
                    <asp:Table runat="server" Style="border-top: solid;" Width="100%">
                        <asp:TableRow Style="font-family: 'Century Gothic'">
                            <asp:TableCell Width="60%" Style="padding-left: 10px; padding-top: 10px;">
                                <asp:GridView ID="dgvShareName" runat="server" CssClass="table table-hover" Width="100%" AutoGenerateColumns="False" Font-Size="16px"
                                    GridLines="None" HeaderStyle-CssClass="gvHeader" AlternatingRowStyle-CssClass="gvAltRow" BorderWidth="0" ShowHeaderWhenEmpty="True"
                                    AllowPaging="true" OnPageIndexChanging="dgvShareName_PageIndexChanging" PageSize="10">
                                    <AlternatingRowStyle CssClass="gvAltRow"></AlternatingRowStyle>
                                    <Columns>
                                        <asp:BoundField DataField="SHARE_GROUP" HeaderText="Share Group">
                                            <HeaderStyle HorizontalAlign="Center" Font-Names="Century Gothic" Font-Size="16px" />
                                            <ItemStyle BorderWidth="0" HorizontalAlign="Center" Font-Names="Century Gothic" Font-Size="16px" />
                                        </asp:BoundField>
                                        <asp:BoundField DataField="SHARE_TYPE" HeaderText="Share Type">
                                            <HeaderStyle HorizontalAlign="Center" Font-Names="Century Gothic" Font-Size="16px" />
                                            <ItemStyle BorderWidth="0" HorizontalAlign="Center" Font-Names="Century Gothic" Font-Size="16px" />
                                        </asp:BoundField>
                                        <asp:BoundField DataField="SHARE_DISPLAY" HeaderText="Share To">
                                            <HeaderStyle HorizontalAlign="Center" Font-Names="Century Gothic" Font-Size="16px" />
                                            <ItemStyle BorderWidth="0" HorizontalAlign="Center" Font-Names="Century Gothic" Font-Size="16px" />
                                        </asp:BoundField>
                                    </Columns>
                                    <HeaderStyle CssClass="gvHeader-white"></HeaderStyle>
                                    <PagerStyle CssClass="pagination-ys" />
                                    <PagerSettings Mode="NumericFirstLast" PageButtonCount="10" />
                                </asp:GridView>
                            </asp:TableCell>
                            <asp:TableCell Width="40%" Style="padding-left: 10px;">
                            </asp:TableCell>
                        </asp:TableRow>
                    </asp:Table>
                    <div class="panel-footer" style="text-align: right">
                        <asp:Button ID="cmdSaveDraft" runat="server" Text="Save Draft" CssClass="btn btn-success" Width="116px" data-toggle="modal" Font-Size="16px"
                            data-target="#ModalConfirmBeforeSaveDraft" UseSubmitBehavior="false" />
                        <asp:Button ID="cmdSave" runat="server" Text="Save & Share" CssClass="btn btn-success" Width="130px" data-toggle="modal" Font-Size="16px"
                            data-target="#ModalConfirmBeforeSave" UseSubmitBehavior="false" />
                        <asp:Button ID="cmdCancel" runat="server" Text="Cancel" CssClass="btn btn-warning" Width="90px" data-toggle="modal" Font-Size="16px"
                            data-target="#ModalConfirmBeforeCancel" UseSubmitBehavior="false" />
                        <asp:Button ID="cmdBack" runat="server" Text="Finish" CssClass="btn btn-info" Width="90px" data-toggle="modal" Font-Size="16px"
                            data-target="#ModalConfirmBeforeBack" UseSubmitBehavior="false" />
                    </div>
                </div>
            </ContentTemplate>
            <Triggers>
                <asp:PostBackTrigger ControlID="cmdUpload" />
            </Triggers>
        </asp:UpdatePanel>
    </div>
    <uc1:ModelPopup runat="server" ID="mpConfirmSave" IDModel="ModalConfirmBeforeSave"
        IsButtonTypeSubmit="true" IsOnClick="true" IsShowClose="true" OnClickOK="mpConfirmSave_ClickOK"
        TextTitle="ยืนยันการบันทึก" TextDetail="คุณต้องการบันทึกใช่หรือไม่ ?" />
    <uc1:ModelPopup runat="server" ID="mpConfirmSaveDraft" IDModel="ModalConfirmBeforeSaveDraft"
        IsButtonTypeSubmit="true" IsOnClick="true" IsShowClose="true" OnClickOK="mpConfirmSaveDraft_ClickOK"
        TextTitle="ยืนยันการบันทึก" TextDetail="คุณต้องการบันทึกใช่หรือไม่ ?" />
    <uc1:ModelPopup runat="server" ID="mpConfirmCancel" IDModel="ModalConfirmBeforeCancel"
        IsButtonTypeSubmit="true" IsOnClick="true" IsShowClose="true" OnClickOK="mpConfirmCancel_ClickOK"
        TextTitle="ยืนยันการยกเลิก" TextDetail="คุณต้องการยกเลิกใช่หรือไม่ ?" />
    <uc1:ModelPopup runat="server" ID="mpConfirmBack" IDModel="ModalConfirmBeforeBack"
        IsButtonTypeSubmit="true" IsOnClick="true" IsShowClose="true" OnClickOK="mpConfirmBack_ClickOK"
        TextTitle="ยืนยันการยกเลิก" TextDetail="คุณต้องการกลับหน้าหลักใช่หรือไม่ ?" />
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="cphAfterForm" runat="Server">
</asp:Content>
<asp:Content ID="Content5" ContentPlaceHolderID="cphAfterBody" runat="Server">
</asp:Content>
<asp:Content ID="Content6" ContentPlaceHolderID="cphAfterHtml" runat="Server">
</asp:Content>
