﻿<%@ Page Language="C#" MasterPageFile="~/MP.master" AutoEventWireup="true" CodeFile="NotAuthorize.aspx.cs" Inherits="NotAuthorize" StylesheetTheme="Aqua" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphHeader" runat="Server">
    <script src="Javascript/Common/common.js" type="text/javascript"></script>
    <script src="Scripts/jquery-2.2.3.min.js" type="text/javascript"></script>
    <script src="Scripts/bootstrap.min.js"></script>--%>
       <!-- jQuery -->
       <%-- 

        <!-- Bootstrap Core JavaScript -->
        <script src="../../Scripts/bootstrap.min.js"></script>--%>
    <style type="text/css">
        .style15
        {
            color: #03527C;
        }
    </style>
</asp:Content>

 <asp:Content ID="Content2" ContentPlaceHolderID="cph_Main" runat="Server">   
            <div class="container" style="width: 100%;">
                <div class="container" style="width: 100%">
            <div class="modal fade" id="ShowInformation" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog">
                    <asp:UpdatePanel ID="upModal" runat="server" ChildrenAsTriggers="false" UpdateMode="Conditional">
                        <ContentTemplate>
                            <div class="modal-content">
                                <div class="modal-header">
                                    <%--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>--%>
                                    <h4 class="modal-title">
                                        <asp:Image ID="imgInformation" runat="server" ImageUrl="Images/imgNotAuthorize.png" Width="48" Height="48" />
                                        <asp:Label ID="lblModalTitle" runat="server" Text=""></asp:Label>
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <asp:Label ID="lblModalBody" runat="server" Text=""></asp:Label>
                                </div>
                                <div class="modal-footer">
                                    <button id="cmdLogin" runat="server" class="btn btn-danger" data-dismiss="modal" aria-hidden="true" onserverclick="cmdLogin_ServerClick">ปิด</button>
                                </div>
                            </div>
                        </ContentTemplate>
                    </asp:UpdatePanel>
                </div>
            </div>
        </div>
      </div>

     <script type="text/javascript">
                $(document).ready(function () {
        
                    $(window).resize(function () {
              
                    });
                });
    </script>
</asp:Content>
     
    