<%@ Page Language="C#" AutoEventWireup="true" CodeFile="openFile.aspx.cs" Inherits="openFile" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>:: Welcome to PTT-TMS ::</title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            &nbsp;</div>
    </form>
</body>
</html>
