﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Report_Menu.aspx.cs" Inherits="Report_Meni" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <a href="ReportAlertServices.aspx">ใบงาน แจ้งเตือนเข้ารับบริการ (ตารางงานประจำวัน)</a><br>
        <a href="ReportOperationMonths.aspx">สถานะการรับบริการวันนั้น</a><br>
        <a href="ReportOperationMonths.aspx">ชำระค่าธรรมเนียม (ใบเรียกเก็บ)</a><br>
        <a href="ReportResultWater.aspx">ใบรับรองผลสอบเทียบวัดน้ำ (Certificate)</a><br>
        <a href="ReportWatnumcause.aspx">รายงานรถวัดน้ำไม่ผ่าน แจ้ง รข. (แยกบริษัท)</a><br>
        <a href="ReportMonthslyIncomeDetail.aspx">รายได้แจกแจงรายคัน</a><br>
        <a href="ReportMonthslyIncomeDetail.aspx">รายงานเวลาเข้ารับบริการแต่ละขั้นตอน</a><br>
        
    </div>
    </form>
</body>
</html>
