/* tables */
table.tablesorter {
	border-width: 1px; 
	border-style: solid;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #038DE2;/*#9feefd*/
	color: #ffffff;/*000000*/
	/*border: 1px solid #FFF;*/
	padding: 1px; 

}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;  
	/*background-color: #FFF;*/
	vertical-align: top;
	
	border-width: 1px; 
	border-style: solid;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(up.gif);/*desc.gif*/
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(down.gif);/*asc.gif*/
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #038DE2;/*#9feefd*/
}
