#SexyAlertBox-Box
{
    padding-bottom: 20px;
    background: url('Images/bg-box-bottom.png') bottom left no-repeat !important;
    background: url('Images/bg-box-bottom.gif') bottom left no-repeat;
}

#SexyAlertBox-InBox
{
    padding-top: 15px;
    background: url('Images/bg-box-top.png') top left no-repeat !important;
    background: url('Images/bg-box-top.gif') top left no-repeat;
}

#SexyAlertBox-BoxContent
{
    background: url('Images/bg-box-body.png') top left repeat-y !important;
    background: url('Images/bg-box-body.gif') top left repeat-y;
    padding: 20px 30px 10px 30px;
}

#SexyAlertBox-BoxContenedor
{
    padding: 0px 5px 5px 50px;
    text-align: left;
    font-family: Tahoma;
    font-size: 12px;
    color: #000;
}

#SexyAlertBox-BoxContenedor h1, #SexyAlertBox-BoxContenedor h2, #SexyAlertBox-BoxContenedor h3, #SexyAlertBox-BoxContenedor b, #SexyAlertBox-BoxContenedor strong
{
    text-align: left;
    font-family: Verdana;
    font-size: 12px;
    color: #000;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

#SexyAlertBox-Buttons
{
    text-align: right;
}

#SexyAlertBox-Buttons input
{
    margin: 10px 10px;
}

#SexyAlertBox-BoxContenedor #BoxPromptInput
{
    margin-top: 5px;
}

#SexyAlertBox-Box .BoxAlert
{
    background: url('Images/dialog-warning.png') top left no-repeat;
}

#SexyAlertBox-Box .BoxConfirm
{
    background: url('Images/dialog-help.png') top left no-repeat;
}

#SexyAlertBox-Box .BoxPrompt
{
    background: url('Images/dialog-help.png') top left no-repeat;
}

#SexyAlertBox-Box .BoxInfo
{
    background: url('Images/dialog-information.png') top left no-repeat;
}

#SexyAlertBox-Box .BoxError
{
    background: url('Images/dialog-error.png') top left no-repeat;
}
