body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(../images/bg_UU_Billing01.jpg);
	background-repeat: no-repeat;
	background-position: top,center;
	background-attachment: fixed;
	background-color: #FFFFFF; 
    font:12px Tahoma; 
}
p {font-family: "Tahoma"; font-size: 9pt}
th {font-family: "Tahoma"; font-size:10pt; text-align:left}
td {font-family: "Tahoma"; font-size:10pt;}
input {font-family: "Tahoma"; font-size:10pt}
textarea {font-family: "Tahoma"; font-size:10pt}

A:Link	{color: #333399; text-decoration: none}
A:Visited	{color: #333399; text-decoration: none}
A:Active 	{color: #FF6600; text-decoration: none}
A:Hover		{color: #FF6600; text-decoration: none}

A.header			{text-decoration : none; font-family:"MS Sans Serif"; color: #0066CC; font-weight: normal; font-size: 7px; line-height: normal}
A.header:Visited		{color: #0066CC; text-decoration: none}
A.header:Active 		{color: #C00010}
A.header:Hover			{color: #C00010; text-decoration: underline}

A.lnkmn {color:#FFFFFF;text-decoration:none;
font-family: "MS Sans Serif";; font-size: 9pt}
A.lnkmn:visited{color:#ffffff}
A.lnkmn:hover{color:#ffcc33; background-color: #0066FF}
A.lnkmn:link{color:#ffffff}
A.lnkmn:active{color:#ffffff}

.areatitle {font-weight: bold; font-size: 11pt}
.info {font-size:9pt; font-family: "MS Sans Serif"; background-color: #FFFFFF}
.gray-info {font-size:8pt; font-family: "MS Sans Serif"; background-color: rgb(242,242,242)}
.white-info {font-size:8pt; font-family: "MS Sans Serif"; background-color: #FFFFFF}
.gray-lite{background-color: rgb(242,242,242)}
.white-lite{background-color: #FFFFFF}
.highlight{background-color: #F2F2F2}
.tbrhdata { font-family: "MS Sans Serif"; font-size: 10pt; font-weight: bold}
.tbrdata { background-color: #003184; color: #FFFFFF}
.tbrtitle { background-color: #336699; font-family: "MS Sans Serif", Arial, sans-serif; font-size: 12pt; color: #FFFFFF }
.tbrbdata { background-color: #CCCCCC; font-family: "MS Sans Serif", Arial, sans-serif; font-size: 9pt}
.heading {  font-family: "MS Sans Serif"; font-size: 18pt; color: #FFFFFF}
.barlink {  font-family: "MS Sans Serif"; font-size: 14pt; font-weight: bold; color: #FFFFFF}.active {  text-decoration: none; color: #D00000}
.corp {  font-size: 10pt; font-weight: bold; color: #FF9933; border-color: black black #FF9933}
.non {  font-family: "Microsoft Sans Serif"; font-size: 9px; font-weight: normal; color: #fffdfb}
.texthead {  font-size: 10px; color: #FF9933; border-color: black black #FF9933}
.news {  font-size: 9px; font-style: normal}
.test {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-weight: bold}
.unnamed1 {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #CC0066; text-decoration: underline}
.inlinetable{ display:inline-table;
	margin-left: 0px;
}

.dxeLineBreakFix
{
   margin:2px;
   display: inline;
}


.loading_algRight 
{text-decoration:none;
  background: url(../Images/loader.gif) no-repeat center right;
}

.cWidth1
{
    width:150px;
}
.StatusBG
{
    background-color:#FFEFD5;
}
        