﻿.menu
{
    width: 992px;
    height: 49px;
    background: url(images/search_bg.jpg) repeat-x 0 0;
}
.submenu
{
    width: 992px;
    height: 49px;
}
li.menu_int
{
    float: left;
}

#navigation
{
    margin: 0;
    padding: 0;
    clear: both;
    height: 51px;
    background: #d6eaf8 /*url(images/dropdown-bg.gif)*/ repeat-x left top;
}


ul.nav-main, ul.nav-main li
{
    list-style: none;
    margin: 0;
    padding: 0;
}


ul.nav-main
{
    position: relative;
    z-index: 597;
}

ul.nav-main li:hover > ul
{
    visibility: visible;
}


ul.nav-main li.hover, ul.nav-main li:hover
{
    position: relative;
    z-index: 599;
    cursor: pointer;
}



ul.nav-main li
{
    float: left;
    display: block;
    height: 49px;
    color: #999;
    font: 14px Tahoma, Geneva, sans-serif;
}

ul.nav-main li a
{
    display: block;
    padding: 0px 0px 0 0px;
    font-size: 14px;
    font-family: Tahoma, Geneva, sans-serif;
    text-decoration: none;
}

ul.nav-main li a:hover
{
    color: #FFFFFF;
    background-color: #02b1fb;
}



ul.nav-main *.list
{
    padding-right: 0px;
    background: /*url(images/navigation-arrow.gif)*/ no-repeat right top;
}



ul.nav-sub
{
    visibility: hidden;
    position: absolute;
    padding: 0px;
    /*top: 55px;
    left: -40px;*/
    z-index: 598;
    background: #C8ecff /*url(images/dropdown-list-bg.gif)*/ repeat-x left top; /*border-right: 1px solid #000; 	border-bottom: 1px solid #000; 	border-left: 1px solid #000;*/
}


ul.nav-sub li
{
    list-style: none;
    display: block;
    padding: 0;
    height: 27px;
    float: none;
    width: 200px;
    border-bottom: 1px solid #ffffff;
    background: none;
}

ul.nav-sub li a
{
    list-style: none;
    display: block;
    padding: 6px 5px 6px 5px;
    height: 15px;
    float: none;
    background: none;
    white-space: nowrap;
    width: 95%;
    font-size: 12px;
    font-family: Tahoma, Geneva, sans-serif;
}

.serch_all
{
    float: left;
}

ul.standdard
{
    visibility: hidden;
    position: absolute;
    padding: 0px;
    top: 55px;
    left: -40px;
    z-index: 598;
    background: #C8ecff repeat-x left top; 

}

ul.nav-sub ul{
    display:block;
    position:absolute;
    left:160px;/*left:-238px;*/
    top:0px;
    width:200px;
}
