﻿.GridColor{background-color:#fff;border-color:#36C}.GridColorHeader th{color:#000;background-color:#E0EDFF;text-align:left;border:1px solid #a79d9d;}.GridColorHeaderCenter th{color:#000;background-color:#E0EDFF;text-align:center;border:1px solid #a79d9d;}.GridColorHeaderFont11 th{font-size:11px;}.GridColorRow{color:#000;background-color:#fff}.GridColor tr th a{color:#000;text-decoration:underline}.loadingBG{display:none;position:fixed;top:0;left:0;right:0;bottom:0;z-index:10005;background-color:#fff;border-top:5px solid #7cb5c9;opacity:.85}#UpdateProgress>img,.loadingBG>img{width:100px;height:100px;position:fixed;top:50%;left:50%;margin-left:-50px;margin-top:-50px}
ul.nav-sub li a:hover {height:100%;width:100%;}.ImageButtonDelete16,.ImageButtonDelete16 div,.ImageButtonEdit16,.ImageButtonSearch16{width:16px;height:24px;background-size:16px;background-repeat:no-repeat;cursor:pointer;background-image:url(../Images/del.gif)}
.table, .table-hover tr td {
    border:1px solid #a79d9d;
}
                                               .pagination-ys {
    /*display: inline-block;*/
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
 
.pagination-ys table > tbody > tr > td {
    display: inline;
}
 
.pagination-ys table > tbody > tr > td > a,
.pagination-ys table > tbody > tr > td > span {
    position: relative;
    float: left;
    padding: 8px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #dd4814;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-left: -1px;
}
 
.pagination-ys table > tbody > tr > td > span {
    position: relative;
    float: left;
    padding: 8px 12px;
    line-height: 1.42857143;
    text-decoration: none;    
    margin-left: -1px;
    z-index: 2;
    color: #aea79f;
    background-color: #f5f5f5;
    border-color: #dddddd;
    cursor: default;
}
 
.pagination-ys table > tbody > tr > td:first-child > a,
.pagination-ys table > tbody > tr > td:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
 
.pagination-ys table > tbody > tr > td:last-child > a,
.pagination-ys table > tbody > tr > td:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
 
.pagination-ys table > tbody > tr > td > a:hover,
.pagination-ys table > tbody > tr > td > span:hover,
.pagination-ys table > tbody > tr > td > a:focus,
.pagination-ys table > tbody > tr > td > span:focus {
    color: #97310e;
    background-color: #eeeeee;
    border-color: #dddddd;
}
.active {
    color:black;
}
.PaddingLeftRight0{
    padding-left: 0; padding-right: 0;
}
        .panel-heading a:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading a.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}